@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  background: #af6574;
  align-items: center;
  height: 100vh;
  padding: 0 10px;
}

::selection {
  color: #000;
  background: #fff;
}

.main {
  width: 370px;
  background: #222;
  border-radius: 5px;
  padding: 30px;
  box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.5);
  color: aliceblue;
}

.main header {
  text-align: center;
  font-size: 28px;
  font-weight: 500;
}

form {
  margin: 40px 0 20px 0;
}

form :where(input, button, select) {
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: none;
  background: #444;
}

form p {
  font-size: 18px;
  margin-bottom: 5px;
}

form input {
  height: 50px;
  font-size: 17px;
  padding: 0 15px;
  border: 1px solid #999;
  background: #555;
}

form input:focus {
  padding: 0 14px;
  border: 2px solid #675afe;
}

form .dropdown {
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
}

.dropdown .drop {
  display: flex;
  width: 115px;
  height: 45px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background: #fff;
  color: #000;
  border-radius: 1px solid #999;
}

.drop img {
  max-width: 21px;
}

.drop select {
  width: auto;
  font-size: 16px;
  background: none;
  color: #000;
  margin: 0 -5px 0 5px;
}

.select-box select::-webkit-scrollbar {
  width: 8px;
}
.select-box select::-webkit-scrollbar-track {
  background: #fff;
}
.select-box select::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 8px;
  border-right: 2px solid #ffffff;
}

.dropdown .icon {
  cursor: pointer;
  margin-top: 30px;
  font-size: 22px;
  color: #fff;
}

form .exchange-rate {
  font-size: 17px;
  margin: 20px 0 30px;
}

form button {
  height: 52px;
  color: #fff;
  font-size: 17px;
  background: #444;
  transition: background 0.3s ease, transform 0.2s ease;
}

form button:hover {
  background: #333;
}

form button:active {
  transform: scale(0.95);
}
